/*
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*/

@import url('https://fonts.googleapis.com/css?family=Monteserrat:500');



* {
    background-color: beige;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

h1 {
    font-family: "Helvetica Neue";
    font-weight: 500;
    font-size: 25px;
    color: black;
    text-decoration: none; 
}

h2 {
    font-family: "Helvetica Neue";
    font-weight: 500;
    font-size: 30px;
    color: black;
    text-decoration: none; 
}

li, a, ul, button, label {
    font-family: "Helvetica Neue";
    font-weight: 500;
    font-size: 19px;
    color: black;
    text-decoration: none;
    margin: 4px;
    text-align: center;
}

label {
    font-family: "Helvetica Neue";
    font-weight: 500;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

input {
    width: 20%;
    padding: 12px 20px;
    color: black;
}

select {
    width: 20%;
    padding: 10px 10px;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.navbar_links li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar_links li a {
    transition: all 0.3s ease 0s;

}

.navbar_links li a:hover {
    color: #0088a0;
}

a:hover {
    color: #0088a0;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    /*
    background-image: "https://thumbs.dreamstime.com/b/study-icon-vector-male-group-students-person-profile-avatar-mortar-board-hat-symbol-school-college-university-163943996.jpg";
    */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


img {
    opacity: 0.5;
}

.box {
    background-image: url("https://www.princetonreview.com/cms-content/how-to-make-the-most-out-of-mcat-study-group.jpg");
    padding: 200px;
    margin: 100px;

    background-repeat: repeat-x;
}

p {
    text-align: center;
    font-size: 35px;
}

nav {
    border-bottom: 2px solid black;
    display: inline-block;
    /* text-align: center; */
    margin: 0 auto;
}

#createstudygroup {
    display: block;
    margin: auto;
    text-align: center;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.studygroupimage {
    width: 25%;
    float:left;
}

.joinstudygroupsubject {
    display: block;
    margin: auto;
    text-align: center;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
}

#forgotpassword {
    display: block;
    margin: auto;
    text-align: center;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
}

