/*
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*/

@import url('https://fonts.googleapis.com/css?family=Monteserrat:500');



* {
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

h1 {
    font-family: "Helvetica Neue";
    font-weight: 500;
    font-size: 25px;
    color: #edf0f1;
    text-decoration: none; 
}

h2 {
    font-family: "Helvetica Neue";
    font-weight: 500;
    font-size: 30px;
    color: #edf0f1;
    text-decoration: none; 
}

li, a, ul, button, label {
    font-family: "Helvetica Neue";
    font-weight: 500;
    font-size: 19px;
    color: #edf0f1;
    text-decoration: none;
}

label {
    font-family: "Helvetica Neue";
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
}

input {
    width: 20%;
    padding: 12px 20px;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.navbar_links li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar_links li a {
    transition: all 0.3s ease 0s;

}

.navbar_links li a:hover {
    color: #0088a0;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


img {
    opacity: 0.5;
}

.box {
    background-image: url("https://www.princetonreview.com/cms-content/how-to-make-the-most-out-of-mcat-study-group.jpg");
    padding: 200px;
    margin: 100px;

    background-repeat: repeat-x;
}
